* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    background-color: rgba(249, 177, 44, 10%);
    /* background: linear-gradient(45deg, #3f4149, #606268, #9b9ca1, #606268, #3f4149); #1F26418 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.btn-primary {
    /* background-color: rgb(28, 28, 152); */
    /* color: white; */
    background-color: rgb(249, 177, 44);
    color: black;
    border-radius: 5px;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    margin: 1rem;
}

.btn-primary:hover {
    cursor: pointer;
    /* background-color: rgb(38, 38, 196); */
    background-color: rgba(249, 177, 44, 80%);
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    background-color: white;
    width: 40rem;
    max-width: 800px;
    box-shadow: 2px 2px 10px rgb(40, 40, 40);
    border-radius: 5px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.container-content {
    background-color: white;
    padding: 0.5rem 1rem;
}

.container-header {
    background-color: rgb(249, 177, 44);
    color: black;
    height: 4rem;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
}

footer {
    padding-top: 15rem;
}

footer * {
    color: gray;
    font-size: 12px;
    /* text-decoration: none; */
}

input[type=text],
input[type=number] {
    /* width: 100%; */
    margin: 0 0.5rem;
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
}

input[type=radio] {
    margin: 0;
    padding: 0;
}

label, legend {
    text-align: left;
    padding: 0.5rem 1rem;
}

.m-0 {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    height: auto;
    width: 100%;
}

.w-15 {
    width: 15rem;
}